*{
    margin: 0;
    padding: 0;
}

.form,
.greeting{
    display: none;
}

.showing{
    display: block;
}

.list{
    width: auto;
}

.list > div {
    padding-right: 4px; 
}

.checked{
    text-decoration-line: line-through;

}

.done_List_Title{
    padding-top:30px;
}